/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;

  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font); /*'Poppins', sans-serif*/
  font-size: var(--normal-font-size); /*0.938rem;*/
}
body {
  margin: var(--header-height) 0 0 0; /*56px*/
  background-color: var(--body-color); /*#fff*/
  color: var(--text-color);
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}
.section__title-center {
  text-align: center;
}
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5); /*1.5rem*/
  margin-right: var(--mb-1-5); /*1.5rem*/
}

.grid {
  display: grid;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  width: 100%;
  background-color: var(--body-color);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: 0.3s;
}
.nav__logo:hover {
  color: var(--first-color);
}
.nav__toggle {
  display: inline-flex;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    z-index: var(--z-fixed);
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--container-color);
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
    transition: 0.3s;
  }
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transform: 0.3s;
}
.nav__link:hover {
  color: var(--first-color);
}
.show-menu {
  right: 0;
}
.home {
  padding: 3.5rem 0 2rem;
}
.home__container {
  position: relative;
  row-gap: 2rem;
}
.home__img {
  width: 200px;
  justify-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
}
.home__description {
  margin-bottom: var(--mb-2-5);
}
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
}
.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}
.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img {
    width: 180px;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home {
    padding: 10rem 0 5rem;
  }
  .home__container {
    align-items: center;
  }
  .home__img {
    width: 280px;
    order: 1;
  }
}
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 13rem 0 5rem;
  }
  .home__img {
    width: 350px;
  }
  .home__description {
    padding-right: 7rem;
  }
}
